<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>The Big Picture - Start Bootstrap Template</title>
<!-- Favicon-->
<link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
<!-- Core theme CSS (includes Bootstrap)-->
<link href="css/styles.css" rel="stylesheet" />

<!-- Import input Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style>
.row{
	background-color: yellow;
}
</style>
</head>
<body>
<!-- Page Content-->

<div class="container">
	<aside>
	</aside>
	<aside>
	<h1 class="mt-5">이메일로 로그인</h1><br>
         	<form>
         		<div class="form-group"> <!-- col-xs-8 -->
						<input type="text" class="form-control input-lg" id="id" placeholder="이메일">
					</div>
					<div class="form-group">
				<input type="password" class="form-control input-lg" id="pwd" placeholder="비밀번호">
			</div>
			
			<button id="b" type="button" class="btn btn-success">SIGN IN</button>
			<span>span</span><br><br>
		</form>
	</aside>
	<aside>
	</aside>
</div>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
