<meta charset="UTF-8">
<!--  AJAX를 이용한 차트 -데이터 수정 -->

<style>
#container{
	width: 500px;
	height: 400px;
}
</style>
<script>
function display(d){
	const chart = Highcharts.chart('container', {
	    title: {
	        text: 'Chart.update'
	    },
	    subtitle: {
	        text: 'Plain'
	    },
	    xAxis: {
	        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
	    },
	    series: [{
	        type: 'column',
	        colorByPoint: true,
	        data: d,	// 받은 데이터 넣기
	        showInLegend: false
	    }]
	});
	document.getElementById('plain').addEventListener('click', () => {
	    chart.update({
	        chart: {
	            inverted: false,
	            polar: false
	        },
	        subtitle: {
	            text: 'Plain'
	        }
	    });
	});

	document.getElementById('inverted').addEventListener('click', () => {
	    chart.update({
	        chart: {
	            inverted: true,
	            polar: false
	        },
	        subtitle: {
	            text: 'Inverted'
	        }
	    });
	});

	document.getElementById('polar').addEventListener('click', () => {
	    chart.update({
	        chart: {
	            inverted: false,
	            polar: true
	        },
	        subtitle: {
	            text: 'Polar'
	        }
	    });
	});

};

function getdata(){
	$.ajax({
		url:'getChart',
		success:function(data){
			display(data);
		}
	});

};

$(document).ready(function(){
	$('button:eq(1)').click(function(){
		getdata();
	});
});
</script>

<h1>AJ07 Main</h1>
<button>GetData</button>
<!-- 그래프가 뿌려지는 곳 -->
<div id="container"></div>
<button id="plain">Plain</button>
<button id="inverted">Inverted</button>
<button id="polar">Polar</button>

