<meta charset="UTF-8">
<!-- 마커에 마우스 이벤트 등록 -->
<style>
#map{
	/*div라는 영역엔 언제나 width, height 필요*/
	width: 500px;
	height: 400px;
	border: 2px solid red;
}
</style>
<script>
$(document).ready(function(){
	// 1 지도 생성----
	var mapContainer = document.getElementById('map'); // 지도를 표시할 div 
    var mapOption = { 
        center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
        level: 3 // 지도의 확대 레벨
    };

	var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

	// 2 마커 생성-----
	// 마커를 표시할 위치입니다 
	var position =  new kakao.maps.LatLng(33.450701, 126.570667);

	// 마커를 생성합니다
	var marker = new kakao.maps.Marker({
	  position: position
	});

	// 마커를 지도에 표시합니다.
	marker.setMap(map);
	
	// 3 인포윈도루 생성 -----
	// 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
	var iwContent = '<div style="padding:5px;">Hello World!</div><h3><a href="">Go</a></h3><img width="50px" src="img/background.png">'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

	// 인포윈도우를 생성합니다
	var infowindow = new kakao.maps.InfoWindow({
	    content : iwContent
	});
	
	// 4 인포 윈도우 넣기
	// 마커에 마우스오버 이벤트를 등록합니다
	kakao.maps.event.addListener(marker, 'mouseover', function() {
	  // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
	    infowindow.open(map, marker);
	});

	// 마커에 마우스아웃 이벤트를 등록합니다
	kakao.maps.event.addListener(marker, 'mouseout', function() {
	    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
	    infowindow.close();
	});
	
	// 마커에 클릭 이벤트를 등록합니다
	kakao.maps.event.addListener(marker, 'click', function() {
		// 마커에 클릭 이벤트가 발생하면 페이지를 이동합니다
		location.href="aj06";
	});

});
</script>


<h1>AJ09 Main</h1>

<div id="map"></div>

