<meta charset="UTF-8">

<!--  비동기 통신 AJAX -->
<script>
function display(data){
	var txt = $('h3').text(data);
};

function getdata(loc){
	$.ajax({	// ajax 호출
		url:'https://apis.data.go.kr/1360000/MidFcstInfoService/getMidLandFcst',
		data:{'serviceKey':'','pageNo':'','numOfRows':'',
				'dataType':'','regId':'', 'tmFc':'202205250600'},
		success:function(data){
			alert(data);
		}
			
	});	
};

$(document).ready(function(){
	$('#s').click(function(){
		getdata('11B0000')
	});
	
	$('#i').click(function(){
		getdata('11D10000')
	});
});									
</script>


<h1>AJ12 Main</h1>
<button id="s">Seoul</button>
<button id="i">Incheon</button>
<div id="result"></div>

