<!DOCTYPE html>
<!-- 이거 html아니고 thyemleaf라는 걸 쓴다는 것 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<!-- 다 div 종류들 -->
	<header>
		<h1><a href="/">HTML5 & CSS3.0</a></h1>
	</header>
	<!-- 메뉴 : 꼭 nav안에 써야 하는 건 아님 -->
	<nav>
		<ul>
			<li><a href="html5">HTML5</a>
			<li><a href="css3">CSS3</a>
			<li><a href="js">JavaScript</a>
			<li><a href="media">Media</a>
		</ul>
	</nav>
	<!-- center가 ? 있냐? 있으면 center 없으면 center.html-->
	<section th:include="${center} ? ${center} : center">
	</section>
	<footer></footer>
</body>
</html>