<meta charset="UTF-8">
<script>
function calc(){
	// input form일 때 화면에 입력된 값을 가져오는 방법
	// 태그와 태그 사이는 innerHTML
	// form에 입력된 것은 value
	var txt = document.querySelector('#data').value;
	// alert(txt);
	if(txt == '' || txt == null){
		document.querySelector('#result').innerHTML = 'Bye';
		return;
	}
	// 입력될 값: '1+3'처럼 string일 것.
	var result = eval(txt);		// string값을 JS로 실행해주는 FUNCTION (1/0 = infinity)
	//alert(result);
	if(!isFinite(result)){
		result = 'Input Error..';
	}
	document.querySelector('#result').innerHTML = result;
	document.querySelector('#data').value = '';	// 검색창 리셋
	
};
</script>


<h1>JS06 Main</h1>
<!--  form과 form 사이 값을 서버로 전송하기 위해 input 사용 -->
<input type="text" id="data">
<button onclick="calc();">Calc</button>
<h3 id="result"></h3>