<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Projects</h2>
  <p>Organized the projects I have done.</p>            
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Language</th>
        <th>Note</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Lotto Game</td>
        <td>Java</td>
        <td>Lotto game</td>
      </tr>
      <tr>
        <td>Library Database System</td>
        <td>Java, SQL</td>
        <td>UI for searching, list, burrow, return</td>
      </tr>
      <tr>
        <td>Website</td>
        <td>HTML, CSS</td>
        <td>Following the design from W3School</td>
      </tr>
    </tbody>
  </table>
</div>

</body>
</html>
